{% extends 'base.html'%}
{% load crispy_forms_tags %}
{% block content %}
{% if update_post %}
    <h1>Are You Updating Your Post {{user.first_name}}? </h1>
{% else %}
<h1>Create New Post</h1>
{% endif %}
<div class="container">
    <form action="" method="post">
    {% csrf_token %}
        <fieldset class="container ">
            {{ form|crispy }}
            <div class="mt-3">

               <button class="btn btn-outline-secondary" type="submit">Update</button>
            </div>

        </fieldset>
    </form>
</div>

{% endblock %}